{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block styles %}
{{super()}}
<style>
 /*Bootstrap button outline override*/
 .btn-outline {
     background-color: transparent;
     color: inherit;
     transition: all .5s;
 }

 .btn-primary.btn-outline {
     color: #428bca;
 }

 .btn-success.btn-outline {
     color: #5cb85c;
 }

 .btn-info.btn-outline {
     color: #5bc0de;
 }

 .btn-warning.btn-outline {
     color: #f0ad4e;
 }

 .btn-danger.btn-outline {
     color: #d9534f;
 }

 .btn-primary.btn-outline:hover,
 .btn-success.btn-outline:hover,
 .btn-info.btn-outline:hover,
 .btn-warning.btn-outline:hover,
 .btn-danger.btn-outline:hover {
     color: #fff;
 }


</style>
{% endblock %}

{% block app_content %}
{{super()}}

<h1>Drugs </h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Side Effects</th>
            <th>Restricted?</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for drug in drugs %}
        <tr>
            <th>{{ drug.drug_id }}</th>
            <td>{{ drug.name }}</td>
            <td>{{ drug.side_effects }}</td>
            <td>
                {% if drug.restricted %}
                {{ utils.icon('ok') }}
                {% else %}
                {{ utils.icon('remove') }}
                {% endif %}
            </td>
            <td> <a href="{{url_for('edit_drug', drug_id=drug.drug_id )}}" class="btn btn-success btn-outline"> {{utils.icon('pencil')}} Edit</a> </td>
            <td>
                <form id='del_dr{{drug.drug_id}}' action='{{url_for('delete_drug',drug_id=drug.drug_id)}}' method='post'></form>
                <button class='btn-link' onclick="ConfirmDelete('del_dr{{drug.drug_id}}')">{{utils.icon('trash')}}</button>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>{{ utils.form_button(url_for('newdrug'), utils.icon('plus') + ' Add Drug', class="btn btn-primary", method='get') }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="color:red;" id="deleteModalLabel">Delete Drug</h4>
      </div>
      <div class="modal-body">
        <p>This action cannot be undone. Would you like to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="Delete()">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<!-- Delete functions -->
<script type="text/javascript">
function ConfirmDelete(id) {
    localStorage.setItem('id', id);
    $('#deleteModal').modal();
    return false;
}
function Delete() {
    document.forms[localStorage.getItem('id')].submit();
}
</script>
{% endblock%}