{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block styles %}
{{super()}}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{{url_for('static', filename='patient.css')}}" rel="stylesheet">
{% endblock %}

{% block app_content %}
{{super()}}

<div class="row">
    <div class="col-sm-6">
        <h1>Patient Info </h1>
        {% if patient.details != "" %}
        <div class="patient-card">{{ patient.details }}</div>
        {% else %}
        No patient details.
        {% endif %}
    </div>
    <div class="col-sm-6">
        <div class="patient-card">
            <div class="media">
                <div class="media-left">
                    <img class="media-object img-circle profile-img" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png">
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{ patient.name }}</h2>
                    <div class="age">Age: {{ patient.age }} </div>
                    <div class="pid">Unique Patient ID: {{ patient.patient_id}} </div>
                    <div class="pid">Patient QR-Code:<div id="qr"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<h2>Medication</h2>

<div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Drug Package
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="alert alert-info">
                    {% if drug_package is none %}
                    This patient does not have a prepackaged drug package assigned. {{ utils.form_button(url_for('change_package', patient_id=patient.patient_id ), 'Assign now', class="btn") }}
                    {% else %}
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for drug in drug_package.drugs %}
                        <tr>
                            <td>{{ drug.drug_id }}</td>
                            <td>{{ drug.name }}</td>
                            <td>
                                <form id='del_dp{{drug.drug_id}}' action='{{url_for('unassign_drug',package_drug_id=drug.drug_id,patient_id=patient.patient_id)}}' method='post'></form>
                                <button class='btn-link' onclick="ConfirmDelete('del_dp{{drug.drug_id}}')">{{utils.icon('trash')}}</button>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th> <a href="{{url_for('assign_drug', patient_id=patient.patient_id, dp_id=drug_package.package_id )}}" class="btn btn-primary"> {{utils.icon('plus')}} Add drug</a> </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
    <!-- end of panel -->

    <div class="panel">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Unpackaged Drugs
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Qty</th>
                            <th>Time</th>
                            <th>Dispensed?</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assoc in patient.drugs %}
                        <tr>
                            <td>{{ assoc.drug.drug_id }}</td>
                            <td>{{ assoc.drug.name }}</td>
                            <td>{{ assoc.qty }}</td>
                            <td>{{ assoc.time.strftime('%H:%M') }}</td>
                            <td>
                                {% if assoc.dispensed %}
                                {{ utils.icon('ok') }}
                                {% else %}
                                {{ utils.icon('remove') }}
                                {% endif %}
                            </td>
                            <td>
                                <form id='del_dr{{assoc.id}}' action='{{url_for('unassign_drug',dp_id=assoc.id,patient_id=patient.patient_id)}}' method='post'></form>
                                <button class='btn-link' onclick="ConfirmDelete('del_dr{{assoc.id}}')">{{utils.icon('trash')}}</button>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td> <a href="{{url_for('assign_drug', patient_id=patient.patient_id )}}" class="btn btn-primary"> {{utils.icon('plus')}} Assign drug</a> </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- end of panel -->
    <div class="panel">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Maintainance
                </a>
            </h4>
        </div>

        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <div class="container">
                    <div class="col-sm-12" style="float: right; margin: auto auto 0 auto">
                        <form style="display:inline;" id='del_cp{{patient.patient_id}}' action='{{url_for('change_package',patient_id=patient.patient_id,delete="True")}}' method='post'></form>
                        <button style="display:inline;" class='btn btn-warning' onclick="ConfirmDelete('del_cp{{patient.patient_id}}')">Unassign Drug Package</button>
                        <form style="display:inline;" id='del_pt{{patient.patient_id}}' action='{{url_for('delete_patient',patient_id=patient.patient_id)}}' method='post'></form>
                        <button style="display:inline;" class='btn btn-danger' onclick="ConfirmDelete('del_pt{{patient.patient_id}}')">{{utils.icon('trash')}}Remove Patient</button>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End of Panel -->
</div>
<!-- end of #accordion -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="color:red;" id="deleteModalLabel">Delete Item</h4>
      </div>
      <div class="modal-body">
        <p>This action cannot be undone. Would you like to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="Delete()">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}

<script type="text/javascript" src="{{url_for('static', filename='jquery.qrcode.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='qrcode.js')}}"></script>
<!-- Render QR -->
<script type="text/javascript"> 
 jQuery('#qr').qrcode({
    render	: "table",
     width:128,
     height:128,
     text:"{{ patient.qr_code }}"
 });
</script>
<!-- Accordeon -->
<script type="text/javascript">
 $(document).ready(function() {
     $('.collapse.in').prev('.panel-heading').addClass('active');
     $('#accordion, #bs-collapse')
         .on('show.bs.collapse', function(a) {
             $(a.target).prev('.panel-heading').addClass('active');
         })
         .on('hide.bs.collapse', function(a) {
             $(a.target).prev('.panel-heading').removeClass('active');
         });
 });
 function ConfirmDelete(id) {
    localStorage.setItem('id', id);
    $('#deleteModal').modal();
    return false;
}
function Delete() {
    document.forms[localStorage.getItem('id')].submit();
}
</script>
{% endblock%}
