{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{super()}}
<style>
 body {
     background: rgb(204,204,204); 
 }
 page[size="A4"] {
     background: white;
     width: 21cm;
     height: 29.7cm;
     display: block;
     margin: 0 auto;
     margin-bottom: 0.5cm;
     box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);

     padding: 10px;
 }
 @media print {
     body, page[size="A4"] {
         margin: 0;
         box-shadow: 0;
     }
 }
 @page {
     size: A4;
     margin: 0;
 }
</style>
{% endblock %}



{% block app_content %}

<page size="A4">
    <h1>Refilling the Robot - Physical Part</h1>
    
    <div class="alert alert-warning" role="alert">
        Print this page, take the print-out to the robot and follow the instructions!
    </div>

    <h2>Refilling Instructions</h2>
    To refill the dispensers, enter the robot’s refill mode by holding down the Refill Button for a period of 3 seconds.
    <h3>Individual Pills</h3>
    Once in individual dispenser refill mode,the robot will verbally
confirm this, saying "Entered individual dispenser refill mode". Then the arms of both of the
individual dispensers will move fully forward, ensuring that no pills can fall through during refill.
Then the robot will verbally confirm that it is ready for pills to be added, saying "Pills can now
be added to the Pill Storage Container". Add the correct type of pills to the corresponding Pill
Storage Container and return to the software system. Enter the number of pills added to each
dispenser into the form and confirm. Then, press the Refill Button again to confirm that the
pills have been added.
    <h3>Packaged Pills</h3>
    Once in package dispenser refill mode, the robot will verbally confirm this, saying "Entered package dispenser refill mode". If the dispenser is full, the LED will
turn red and the robot will give verbal feedback on the error, saying "Dispenser full, do not insert
package". Do not place a package in. If there is an empty slot available, the dispenser will either
sense it, if it already visible or move until it finds one and stops. The robot will verbally tell you
to place the package in, saying "You can now insert the package into the dispenser", and the
beam from Sensor 2 will change to red. Once the package has been placed in, its colour will be
detected and the colour will be confirmed by the robot. Then the package dispenser will move
to the next empty segment. If there are further packages to be added, repeat this process again.
Once all intended packages have been added, hold down the Refill Button again for 3 seconds to
exit refill mode.
    <div class="container-fluid">
        <div class="row">
		        <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
		        <div class="col-md-4">
		        </div>
	      </div>
    </div>
    </div>
</page>
{% endblock %}