APScheduler==3.5.1
Babel==2.5.3
CairoSVG==2.1.3
Flask==0.12.2
Flask-Autodoc==0.1.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
Flask-WeasyPrint==0.5
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
Pillow==5.0.0
PyPDF2==1.26.0
Pygments==2.2.0
Pyphen==0.9.4
SQLAlchemy==1.2.2
Sphinx==1.7.0
WTForms==2.1
WeasyPrint==0.42.2
Werkzeug==0.14.1
alabaster==0.7.10
alembic==0.9.7
blinker==1.4
cairocffi==0.8.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
cssselect2==0.2.1
defusedxml==0.5.0
docutils==0.14
dominate==2.3.1
flake8==3.5.0
flake8-docstrings==1.3.0
flake8-polyfill==1.0.2
funcsigs==1.0.2
futures==3.1.1
html5lib==1.0b10
httplib2==0.11.0
idna==2.6
imagesize==1.0.0
itsdangerous==0.24
mccabe==0.6.1
numpy==1.14.1
packaging==16.8
pdfkit==0.6.1
pdfrw==0.4
pycodestyle==2.3.1
pycparser==2.18
pydocstyle==2.1.1
pyflakes==1.6.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2018.3
reportlab==3.4.0
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
sphinxcontrib-websupport==1.0.1
tinycss2==0.6.1
typing==3.6.4
tzlocal==1.5.1
urllib3==1.22
visitor==0.1.3
webencodings==0.5.1
xhtml2pdf==0.2.1
